# Python Programme Assignment 10

1. Write a Python program to find sum of elements in list?
2. Write a Python program to Multiply all numbers in the list?
3. Write a Python program to find smallest number in a list?
4. Write a Python program to find largest number in a list?
5. Write a Python program to find second largest number in a list?
6. Write a Python program to find N largest elements from a list?
7. Write a Python program to print even numbers in a list?
8. Write a Python program to print odd numbers in a List?
9. Write a Python program to Remove empty List from List?
10. Write a Python program to Cloning or Copying a list?
11. Write a Python program to Count occurrences of an element in a list?

In [9]:
# ques 1 
l = [1,2,3,4,5,6,7,8,9,10]
s = 0
for i in l:
  s += i
print(f'summation of all the element of list {l} is : {s}')

summation of all the element of list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] is : 55

In [10]:
# ques 2
l = [1,2,3,4,5,6,7,8,9,10]

m = 1
for i in l:
   m *= i
print(f'product of all the element of list {l} is : {m}')

product of all the element of list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] is : 3628800

In [12]:
# ques 3

l = [8,5,6,7,9,0,1,2,4,3]

small = 0

for i in l:
  if i < small:
    small = i
print(f'samllest element in list {l} is : {small}')

samllest element in list [8, 5, 6, 7, 9, 0, 1, 2, 4, 3] is : 0

In [14]:
# ques 4
l = [8,5,6,7,9,0,1,2,4,3]

large = 0

for i in l:
  if i > large:
    large = i
print(f'samllest element in list {l} is : {large}')

samllest element in list [8, 5, 6, 7, 9, 0, 1, 2, 4, 3] is : 9

In [22]:
# ques 5

l = [8,5,6,7,9,0,1,2,4,3]
x = sorted(l)
print(f'second largest number of the list {l} is : {x[-2]}')

second largest number of the list [8, 5, 6, 7, 9, 0, 1, 2, 4, 3] is : 8

In [29]:
# ques 6

l = [8,5,6,7,9,0,1,2,4,3]

l.sort(reverse=True)
s = []
def result(num):
  for i in range(num):
    s.append(l[i])
  return s

num = 3
r = result(num)

for i in range(len(s)):
  print(f'{i+1}st largest number is {s[i]}')

1st largest number is 9
2st largest number is 8
3st largest number is 7

In [30]:
# ques 7
l = [8,5,6,7,9,0,1,2,4,3]

for i in l:
  if i%2 == 0:
    print(i)

8
6
0
2
4

In [31]:
# ques 8 
l = [8,5,6,7,9,0,1,2,4,3]
for i in l:
  if i%2 != 0:
    print(i)

5
7
9
1
3

In [43]:
# ques 9

l = [8,5,[],6,7,9,0,1,2,4,3,[]]
print(f'original list is : {l}')

for i in l:
  if type(i) == list and i == [] :
    l.remove(i)
print(f'new list without empty list is : {l}')

original list is : [8, 5, [], 6, 7, 9, 0, 1, 2, 4, 3, []]
new list without empty list is : [8, 5, 6, 7, 9, 0, 1, 2, 4, 3]

In [48]:
# ques 10
l = [8,5,6,7,9,0,1,2,4,3]
m = l[::]
n = l.copy()
print(f'copy of list {m}')
print()
print(f'copy of list {n}')

copy of list [8, 5, 6, 7, 9, 0, 1, 2, 4, 3]

copy of list [8, 5, 6, 7, 9, 0, 1, 2, 4, 3]

In [56]:
# ques 11

l = [1,2,3,4,23,4,5,5,5,6,6,7,7]

i = int(input('enter number : '))

if i in l:
  print(f' {i} occures in the list in {l.count(i)} times')
else:
  print(f'{i} doesnot exist in the given list {l}')

enter number : 5
 5 occures in the list in 3 times