#Python Programme Assignment 23

1. Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
- Examples
> is_symmetrical(7227) ➞ True

2. Given a string of numbers separated by a comma and space, return the product of the
numbers.
- Examples
> multiply_nums(&quot;2, 3&quot;) ➞ 6

3. Create a function that squares every digit of a number.
- Examples
> square_digits(9119) ➞ 811181

4. Create a function that sorts a list and removes all duplicate items from it.
- Examples
> setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

5. Create a function that returns the mean of all digits.
- Examples
> mean(42) ➞ 3

In [15]:
# ques 1

def is_symmetrical(data):
  data = str(data)
  
  if data == data[::-1]:
    return True
  return False


is_symmetrical(7227)

True

In [13]:
# ques 2

def multiply_nums(data):
  d = data.split(',')
  m=1
  for i in d:
    m*=int(i)
  return m  
    

multiply_nums("2, 3, 4")

24

In [24]:
# ques 3

def square_digits(digit):
      d1 = str(digit)
      d = ''
      for i in range(len(d1)):
        a =int(d1[i])**2
        d+= str(a)
      return int(d)
square_digits(9119)
square_digits(2483)

416649

In [27]:
# ques 4

def setify(l):
  m = set(l)
  return list(m)

setify([4, 4, 4, 4])

[4]

In [30]:
# ques 5

def mean(num):
  n = str(num)
  m = 0
  for i in n:
    m += int(i)
  return int(m/len(n))  


mean(12345)

3