#Python Programme Assignment 18

1. *Create* a function that takes a list of non-negative integers and strings and return a new list
without the strings.

2. The &quot;Reverser&quot; takes a string as input and returns that string in reverse order, with the
opposite case.

3. You can assign variables from lists like this:
>  lst = [1, 2, 3, 4, 5, 6]
>- first = lst[0]
>- middle = lst[1:-1]
>- last = lst[-1]
>- print(first) ➞ outputs 1
>- print(middle) ➞ outputs [2, 3, 4, 5]
>- print(last) ➞ outputs 6
- With Python 3, you can assign variables from lists in a much more succinct way. Create
variables first, middle and last from the given list using destructuring assignment
> (check the Resources tab for some examples), where:
>- first ➞ 1
>- middle ➞ [2, 3, 4, 5]
>- last ➞ 6

> Your task is to unpack the list writeyourcodehere into three variables, being first,
middle, and last, with middle being everything in between the first and last element. Then
print all three variables.



4. Write a function that calculates the factorial of a number recursively.

5. Write a function that moves all elements of one type to the end of the list.

In [3]:
# ques 1

def filter_list(l):
  m = []
  for i in l:
    if type(i) == int:
      m.append(i)

  return m


filter_list([1, 2,'a', 'b'])

[1, 2]

In [9]:
# ques 2

def reverse(word):
   return  word.swapcase()[::-1]
  



reverse('Hello World')

'DLROw OLLEh'

In [26]:
# ques 3

lst = [1, 2, 3, 4, 5, 6]

first,*middle,last = lst
print(' first : ',first,'\n middle : ',middle,'\n last : ',last)

 first :  1
 middle :  [2, 3, 4, 5]
 last :  6

In [29]:
# ques 4

def factorial(num):
  if num ==0:
    return 1
  else:
    return num*factorial(num-1)

factorial(5)

120

In [34]:
# ques 5

def move_to_end(list1,num):
  for i in list1:
    if i == num:
      list1.remove(i)
      list1.append(i)
  return list1   



move_to_end([7, 8, 9, 1, 2, 3, 4], 9)
move_to_end([1, 3, 2, 4, 4, 1], 1)
move_to_end(['a', 'a', 'a','a', 'c', 'b'], 'a')

['c', 'b', 'a', 'a', 'a', 'a']