#Python Programme Assignment 20

1. Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.


2. Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...

3. Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

4. This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
> 1, 3, 6, 10, 15

> This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.


5. Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.
> Example
>- missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) âžž 5

In [1]:
# ques 1

def filter_list(l):
  m = []
  for i in l:
    if type(i)==int:
      m.append(i)
  return m    



filter_list([1, 2, 3,'a', 'b', 4])

[1, 2, 3, 4]

In [2]:
# ques 2

def add_indexes(l):
  
  for i in range(len(l)):
    l[i] = l[i]+i
  return l  


add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [28]:
# ques 3
import math
def cone_volume(h, r):
  return f'{(math.pi*h*math.pow(r,2))/3:.2f}'


cone_volume(3, 2)

'12.57'

In [61]:
# ques 4

def triangle(num):
  a = 1
  for i in range(1,num):
    a += i+1
  return int(a)

triangle(215)

23220

In [62]:
# ques 5

def missing_num(l):
  for i in range(1,11):
    if i not in l:
      return i


missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [63]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10