#Python Programme Assignment 25

1. Create a function that takes three integer arguments (a, b, c) and returns the amount of
integers which are of equal value.
- Examples
>- equal(3, 4, 3) ➞ 2

- Notes:
Your function must return 0, 2 or 3.

2.Write a function that converts a dictionary into a list of keys-values tuples.
>Examples
>- dict_to_list({
&quot;D&quot;: 1,
&quot;B&quot;: 2,
&quot;C&quot;: 3
}) ➞ [(&quot;B&quot;, 2), (&quot;C&quot;, 3), (&quot;D&quot;, 1)]

- Notes : 
Return the elements in the list in alphabetical order.


3. Write a function that creates a dictionary with each (key, value) pair being the (lower case,
upper case) versions of a letter, respectively.
- Examples
> mapping([&quot;p&quot;, &quot;s&quot;]) ➞ { &quot;p&quot;: &quot;P&quot;, &quot;s&quot;: &quot;S&quot; }

- Notes: 
All of the letters in the input list will always be lowercase.

4. Write a function, that replaces all vowels in a string with a specified vowel.
- Examples
> vow_replace(&quot;apples and bananas&quot;, &quot;u&quot;) ➞ &quot;upplus und bununus&quot;

- Notes: 
All words will be lowercase. Y is not considered a vowel.

5. Create a function that takes a string as input and capitalizes a letter if its ASCII code is even
and returns its lower case version if its ASCII code is odd.
- Examples
> ascii_capitalize(&quot;to be or not to be!&quot;) ➞ &quot;To Be oR NoT To Be!&quot;

In [46]:
# ques 1

def equal(a,b,c):
  try:
    if type(a)==int and type(b)==int and type(c)==int:
      l = [a,b,c]

      c=0
        
      for i in l:
            if l.count(i)>1 and l.count(i)<=3:
              c+=1   
      return c  
    else:
          raise Exception('please enter integer only') 

  except Exception as e:
    return  e 




equal(0, 4, '0')

Exception('please enter integer only')

In [47]:
equal(0, 4, 0)

2

In [22]:
# ques 2

def dict_to_list(d):
    d1 = sorted(d.items(),key=lambda kv:kv[0])


    return list(d1)   

dict_to_list({ "D": 1, "B": 2, "C": 3 })

[('B', 2), ('C', 3), ('D', 1)]

In [48]:
# ques 3

def mapping(l):
  d={}
  try:
    for i in l:
      if not i.islower():
        raise Exception('please enter lower case only')
      d[i]=i.upper()
    return d
  except Exception as e:
     return e  

mapping(["p", "S"])

Exception('please enter lower case only')

In [49]:
mapping(["p", "s"])

{'p': 'P', 's': 'S'}

In [50]:
# ques 4

def vow_replace(s,v):
  try:
    vowels=['a','e','i','o','u']
    m = '' 
    if v  in vowels:   
      if s.islower() and v.islower():
        for i in s:
          if i in vowels:
            m += v
          else:
            m+=i
        return m
      else:
        raise Exception('Exception : all the characters must in lower case') 
    else:
        raise Exception('Exception : replacing element must be a vowel')

  except Exception as e:
     return e 

vow_replace("Apples and bananas", "u")

Exception('Exception : all the characters must in lower case')

In [51]:
vow_replace("apples and bananas", "n")

Exception('Exception : replacing element must be a vowel')

In [52]:
vow_replace("apples and bananas", "i")

'ipplis ind bininis'

In [44]:
# ques 5

def ascii_capitalize(s):
 try:
  m=''
  if s.islower():
    for i in s:
      if ord(i)%2==0:
        m+=i.upper()
      else:
        m+=i
    return m  
  else:
    raise Exception('all the character of the input string must be in lower case')  
 except Exception as e:
   return e   



ascii_capitalize("TO be or not to be!")

Exception('all the character of the input string must be in lower case')

In [45]:
ascii_capitalize("to be or not to be!")

'To Be oR NoT To Be!'