1. Write a Python Program to Find the Factorial of a Number?
2. Write a Python Program to Display the multiplication Table?
3. Write a Python Program to Print the Fibonacci sequence?
4. Write a Python Program to Check Armstrong Number?
5. Write a Python Program to Find Armstrong Number in an Interval?
6. Write a Python Program to Find the Sum of Natural Numbers?

In [ ]:
# ques 1

def fact(num):
  if num == 0 or num == 1:
    return 1
  elif num>1: 
    return num*fact(num-1)
fact(4)

24

In [ ]:
# ques 2

def table(num):
   for i in range(1,11):
     t = i*num
     print(f'{num}x{i} = {t}')
table(2)

2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10
2x6 = 12
2x7 = 14
2x8 = 16
2x9 = 18
2x10 = 20

In [12]:
# ques 3

def fibon(num):

 for i in range(num):
    if num == 0:
      return (0)
    elif num == 1 or num == 2:
      return(1)
    else:    
       return fibon(num-1)+fibon(num-2)

f = fibon(4)
print(f)

3

In [44]:
# ques 4

def armstrong(num):
  if type(num)==int:
    x = 0
    l = len(str(num))
    for i in str(num):
      x += int(i)**l
    return x
  else:
    return 'invalid input'  

armstrong(153)

153

In [45]:
#ques 5

def armstrong1(num1,num2):
  l = []
  for i in range(num1,num2+1):
    if i == armstrong(i):
      l.append(armstrong(i))
  return l
    


armstrong1(1,1000)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407]

In [49]:
# ques 6

def sum(num):
  n = 0
  for i in range(num+1):
    n += i
  return n
sum(16)

136